<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.maxplus1.demo.data.dao.master.ICNCityDao">

    <select id="getCNCityList" resultType="com.maxplus1.demo.data.entity.CNCity">
        SELECT city, province, country from city
    </select>

</mapper>